
.item {
    position: relative;
    width: 70px;
    height: 70px;
    background: #f3f3f3;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.item.active {
    transition: 0.5s;
    transform: rotateY(180deg);
    background: url("/img2.jpg") center/cover;
    /*background: #0046ff;*/
}

.item.error {
    transition: 0.5s;
    transform: rotateY(180deg);
    background: #fd2929;
}


@media (max-width: 640px) {
    .item {
        width: 38px;
        height: 38px;
    }
}